rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    function isAdmin() {
      // The admin is identified by a specific User ID (UID).
      // This should be the UID of the first admin account created.
      return request.auth.uid == 'RN2nXYcrPWTcUTECt3tOnkscAEX2';
    }
    
    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }
    
    match /patients/{patientId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isAdmin();
      
      match /dailyRecords/{dailyRecordId} {
        allow get, list: if isSignedIn();
        allow create: if isSignedIn();
        allow update, delete: if isAdmin();
      }
      
      match /sleepLogs/{sleepLogId} {
        allow read, write: if isSignedIn();
      }
    }
    
    match /staff/{staffId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }
    
    // CollectionGroup support
    match /{path=**}/dailyRecords/{dailyRecordId} {
      allow get, list: if isSignedIn();
      allow create: if isSignedIn();
      allow update, delete: if isAdmin();
    }
    
    match /{path=**}/sleepLogs/{sleepLogId} {
      allow read, write: if isSignedIn();
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
